extends layout

block content
    main
      .container-fluid
        // Section: Intro
        section.mt-lg-5

          // Grid row
          .row
                .col-xl-3.col-md-6.mb-4
                  // Card
                  .card.card-cascade.cascading-admin-card
                    // Card Data
                    .admin-up
                      i.far.fa-money-bill-alt.primary-color
                      .data
                        p SALES
                        h4.font-weight-bold.dark-grey-text 2000$
                    // /.Card Data
                    // Card content
                    .card-body.card-body-cascade
                      .progress.mb-3
                        .progress-bar.bg-primary(role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                      // Text
                      p.card-text Better than last week (25%)
                    // /.Card content
                    // /.Card
                    // Grid column
                    // Grid column
                .col-xl-3.col-md-6.mb-4
                  // Card
                  .card.card-cascade.cascading-admin-card
                    // Card Data
                    .admin-up
                      i.fas.fa-chart-line.warning-color
                      .data
                        p SUBSCRIPTIONS
                        h4.font-weight-bold.dark-grey-text 200
                    // /.Card Data
                    // Card content
                    .card-body.card-body-cascade
                      .progress.mb-3
                        .progress-bar.red.accent-2(role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                      // Text
                      p.card-text Worse than last week (25%)
                    // /.Card content
                    // /.Card
                    // Grid column
                    // Grid column
                .col-xl-3.col-md-6.mb-4
                  // Card
                  .card.card-cascade.cascading-admin-card
                    // Card Data
                    .admin-up
                      i.fas.fa-chart-pie.light-blue.lighten-1
                      .data
                        p TRAFFIC
                        h4.font-weight-bold.dark-grey-text 20000
                    // /.Card Data
                    // Card content
                    .card-body.card-body-cascade
                      .progress.mb-3
                        .progress-bar.red.accent-2(role='progressbar' style='width: 75%' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
                      // Text
                      p.card-text Worse than last week (75%)
                .col-xl-3.col-md-6.mb-4

                  // Card
                  .card.card-cascade.cascading-admin-card
                    // Card Data
                    .admin-up
                      i.fas.fa-chart-pie.light-blue.lighten-1
                      .data
                        p TRAFFIC
                        h4.font-weight-bold.dark-grey-text 20000
                    // /.Card Data
                    // Card content
                    .card-body.card-body-cascade
                      .progress.mb-3
                        .progress-bar.red.accent-2(role='progressbar' style='width: 75%' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
                      // Text
                      p.card-text Worse than last week (75%)


                // Section: Main panel
        section.mb-5
          // Card
          .card.card-cascade.narrower
            // Section: Chart
            section
              // Grid row
              .row
                      .col-xl-5.col-lg-12.mr-0
                        // Card image
                        .view.view-cascade.gradient-card-header.light-blue.lighten-1
                          h2.h2-responsive.mb-0 Sales
                        // /Card image
                        // Card content
                        .card-body.card-body-cascade.pb-0
                          // Panel data
                          .row.card-body.pt-3
                            // First column
                            .col-md-6
                              // Date select
                              p.lead
                                span.badge.info-color.p-2 Data range
                              select.mdb-select.colorful-select.dropdown-info.md-form
                                option(value='' disabled='' selected='') Choose time period
                                option(value='1') Today
                                option(value='2') Yesterday
                                option(value='3') Last 7 days
                                option(value='3') Last 30 days
                                option(value='3') Last week
                                option(value='3') Last month
                              // Date pickers
                              p.lead.mt-5
                                span.badge.info-color.p-2 Custom date
                              br
                              .md-form
                                input#from.form-control.datepicker(placeholder='Selected date' type='text')
                                label(for='date-picker-example') From
                              .md-form
                                input#to.form-control.datepicker(placeholder='Selected date' type='text')
                                label(for='date-picker-example') To
                            // /First column
                            // Second column
                            .col-md-6.text-center
                              // Summary
                              p
                                | Total sales: 
                                strong 2000$
                                button.btn.btn-info.btn-sm.p-2(type='button' data-toggle='tooltip' data-placement='top' title='Total sales in the given period')
                                  i.fas.fa-question
                              p
                                | Average sales: 
                                strong 100$
                                button.btn.btn-info.btn-sm.p-2(type='button' data-toggle='tooltip' data-placement='top' title='Average daily sales in the given period')
                                  i.fas.fa-question
                              // Change chart
                              span#chart-sales.min-chart.my-4(data-percent='76')
                                span.percent
                              h5
                                span.badge.red.accent-2.p-2
                                  | Change 
                                  i.fas.fa-arrow-circle-up.ml-1
                                button.btn.btn-info.btn-sm.p-2(type='button' data-toggle='tooltip' data-placement='top' title='Percentage change compared to the same period in the past')
                                  i.fas.fa-question
                            // /Second column
                            // /Panel data
                            // /.Card content
                            // Grid column
                            // Grid column
                    
                      .col-xl-7.col-lg-12.mb-4
                        // Card image
                        .view.view-cascade.gradient-card-header.blue-gradient
                          // Chart
                          canvas#lineChart(height='175')
                        // /Card image
                      // Grid column