extends layout
block content
  body.fixed-sn.white-skin
    // Main layout
    main
      .container-fluid
        // Section: Head options
        section
          .card
            .card-body
              // Table
              table.table
                // Table head
                thead.blue-grey.lighten-4
                  tr
                    th #
                    th First Name
                    th Last Name
                    th Username
                // Table head
                // Table body
                tbody
                  tr
                  th(scope='row') 1
                  td  Mark
                  td  | Otto
                  td  | @mdo

                  tr
                  th(scope='row') 2
                  td  Mark
                  td  | Otto
                  td  | @mdo

                  tr
                  th(scope='row') 3
                  td  Mark
                  td  | Otto
                  td  | @mdo
            
                  
          .my-5
	  
        section
          .card
            .card-body
              // Table
              table.table
                // Table head
                thead.blue-grey.lighten-4
                  tr
                    th #
                    th First Name
                    th Last Name
                    th Username
                // Table head
                // Table body
                tbody
                  tr
                  th(scope='row') 1
                  td  Mark
                  td  | Otto
                  td  | @mdo

                  tr
                  th(scope='row') 2
                  td  Mark
                  td  | Otto
                  td  | @mdo

                  tr
                  th(scope='row') 3
                  td  Mark
                  td  | Otto
                  td  | @mdo
            
                  
          .my-5