extends layout
block content
  body.fixed-sn.white-skin
  main
   .container-fluid.mb-5
     section
      .row
        .col-md-12
          .card
            .card-body
              table#dtMaterialDesignExample.table.table-striped(cellspacing='0' width='100%')
                thead
                  tr
                    th.th-sm
                      | Name
                    th.th-sm
                      | Position
                    th.th-sm
                      | Office
                    th.th-sm
                      | Age
                    th.th-sm
                      | Start date
                    th.th-sm
                      | Salary
                tbody
                  tr
                    td Tiger Nixon
                    td System Architect
                    td Edinburgh
                    td 61
                    td 2011/04/25
                    td $320,800
                  tr
                    td Garrett Winters
                    td Accountant
                    td Tokyo
                    td 63
                    td 2011/07/25
                    td $170,750
                  tr
                    td Michael Bruce
                    td Javascript Developer
                    td Singapore
                    td 29
                    td 2011/06/27
                    td $183,000
                  tr
                    td Donna Snider
                    td Customer Support
                    td New York
                    td 27
                    td 2011/01/25
                    td $112,000
                tfoot
                  tr
                    th
                      | Name
                    th
                      | Position
                    th
                      | Office
                    th
                      | Age
                    th
                      | Start date
                    th
                      | Salary