extends layout

block content
    main
      .container-fluid
        // Section: Head options
        section
          .card
            .card-body
              // Table
              table.table
              
                // Table head
                thead.blue-grey.lighten-4
                  tr
                   each music, i in musics 
                    li.list-group-item
                      a(href="/music/" + music._id)=music.name
                    music.lastname
              a(href="/music/add").mr-5.btn.btn-primary Create