extends layout

block content
  .container
    .row
        .col-lg-12.ml-5.mt-5

          form(method="POST" action="/login")
            .form-group
                label(for='username') Username confirm
                input#username.form-control(type='text' name="username")
            
            .form-group
                label(for='password') Password confirm
                input#password.form-control(type='password' name="password")
          
            button.btn.btn-success(type='submit') Sign in

  